body {
    width: 100vw;
    height: 100vh;
    background: rgb(57, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
    background: #1e1e1e;
    color: white;
    margin: 2px;
    border-radius: 5px;
    border: solid 1px rgb(139, 139, 139)
}